.OrgCard .Org-card {
    background-color: rgb(0, 70, 150);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Org-card:active{
    background-color: rgb(0, 105, 224);
}

.Orgs .Org-active {
    background-color: rgb(0, 105, 224);
}

.Org-card .Org-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.OrgCard-img {
    height: 10vw;
    width: 10vw;
}

@media (max-width: 1000px) {
    .OrgCard-img{
        display: none;
    }
    .Org-card .Org-body {
        font-size: 2vw;
        width: 10vw;
    }
}